<div>
    <a href="~/GopY/Index"
       style="display:flex">
        <img style="width: 40px" src="~/images/img-GUI/letter.png" />
        <h1 style="font-size:13px;margin:auto;margin-left:6px;">Quản lý hỗ trợ</h1>
    </a>
</div>

