<div>
    <a href="~/QLPhanLoai/Index"
       style="display:flex">
        <img style="width: 40px" src="~/images/img-GUI/brand.png" />
        <h1 style="font-size:13px;margin:auto;margin-left:6px;">Quản lý phân loại</h1>
    </a>
</div>
