@using web_ban_dien_thoai.Models;
@model IEnumerable<CTDatHang>
@{
    ViewBag.Title = "XemDonHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
    KhachHang khach = Session["TaiKhoan"] as KhachHang;
    int maKhachHang = khach != null ? khach.MaKH : 0;
}
<h2 style="text-align:center">Hóa đơn của tôi</h2>
<style>
    body {
        margin: 10px 10px 10px 10px;
    }

    button {
        transition-duration: 0.4s;
        border: 2px solid #008CBA;
        border-radius: 33px;
    }

        button:hover {
            background-color: #008CBA;
            color: white;
        }
    /*nút quay lại đầu trang*/
    .dau-trang {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        border-radius: 50%;
        transition-duration: 0.4s;
        border: 2px solid #008CBA;
        cursor: pointer;
    }

        .dau-trang:hover {
            background-color: #008CBA;
            color: white;
        }

    .carousel-indicators {
        position: static;
    }

        .carousel-indicators li {
            width: 300px;
            height: 100%;
            opacity: 0.8;
        }
</style>
<body>
    @foreach (var donthueGroup in Model.Where(item => item.DonHang.MaKH == maKhachHang).GroupBy(item => item.DonHang.SoDH))
    {
        var donthueList = donthueGroup.ToList();
        var firstDonthue = donthueList.First();

        <!-- Tính tổng thành tiền của đơn hàng -->
        decimal totalThanhtien = donthueList.Sum(item => (decimal)item.Thanhtien); // Chuyển đổi kiểu dữ liệu thành decimal

        <table class="table table-bordered" style="width: 900px; justify-content: center; align-items: center; text-align: center;margin-left:280px;">
            <thead>
                <tr>
                    <th>Mã đơn hàng</th>
                    <th>Tên sản phẩm</th>
                    <th>Ảnh</th>
                    <th>Đơn giá</th>
                    <th>Số lượng</th>
                    <th>Ngày đặt hàng</th>
                    <th>Trạng thái</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>VN-@firstDonthue.DonHang.SoDH </td>
                </tr>
                @foreach (var donthue in donthueList)
                {
                    <tr>
                        <td></td>
                        <td>@donthue.DienThoai.TenDT</td>
                        <td><img src="~/images/san-pham/@donthue.DienThoai.HinhChiTiet0" style="width:150px;" /></td>
                        <td>@donthue.GiaCuoi $</td>
                        <td>@donthue.SoLuong</td>
                        <td>
                            @if (donthue.DonHang.NgayDH.HasValue)
                            {
                                @donthue.DonHang.NgayDH.Value.ToString("dd/MM/yyyy")
                            }
                        </td>
                        <td>
                            @if (donthue.DonHang != null)
                            {
                                if (donthue.DonHang.DaNhan == true)
                                {
                                 
                                   <span style="color:green">Đã nhận</span>                                
                                   <div><a href="#">[Đánh giá]</a> </div>
                        
                                    
                                }
                                else if (donthue.DonHang.DaNhan == false)
                                {
                                    <span style="color:red">Bị hủy</span>
                                }
                                else
                                {
                                    <span style="color:blue">Chưa nhận</span>
                                }
                            }

                            
                        </td>

                    </tr>
                }
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>Thành tiền</th>
                    <td colspan="2"> @totalThanhtien $ </td>
                </tr>


            </tbody>
        </table>       

    }


</body>
