<div>
    <a href="~/QLSanPham/Index"
       style="display:flex">
        <img style="width: 40px" src="~/images/img-GUI/tote-bag.png" />
        <h1 style="font-size:13px;margin:auto;margin-left:6px;">Quản lý sản phẩm</h1>
    </a>
</div>
@*<div>
    <a href="#"
       style="display:flex">
        <img style="width: 40px" src="~/images/img-GUI/newspaper.png" />
        <h1 style="font-size:13px;margin:auto;margin-left:6px;">Quản lý bài viết</h1>
    </a>
</div>*@

